
<html>
	<head>
		<meta charset="utf-8">
		<title>RKMAM - Recipt</title>
		<!-- <link rel="stylesheet" href="css/style.css">
		<link rel="license" href="https://www.opensource.org/licenses/mit-license/">
		<script src="js/script.js"></script> -->
		<link href="css/bootstrap.min.css" rel="stylesheet" />
		<link href="css/font-awesome.css" rel="stylesheet" />
		<link href="js/morris/morris-0.4.3.min.css" rel="stylesheet" />
		<link href="css/toastr.min.css" rel="stylesheet" />
		<link href="css/jquery-ui.css" rel="stylesheet" />
		<link href="css/open-sans-font.css" rel="stylesheet" />
		<link href="css/custom-styles.css" rel="stylesheet" />
		<style>
		/* reset */

*
{
	border: 0;
	box-sizing: content-box;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	line-height: inherit;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	vertical-align: top;
}

/* content editable */

*[contenteditable] { border-radius: 0.25em; min-width: 1em; outline: 0; }
*[contenteditable] { cursor: pointer; }
*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover { background: #DEF; box-shadow: 0 0 1em 0.5em #DEF; }
span[contenteditable] { display: inline-block; }
/* heading */
h1 { font: bold 100% sans-serif; letter-spacing: 0.5em; text-align: center; text-transform: uppercase; }
/* table */
table { font-size: 75%; table-layout: fixed; width: 100%; }
table { border-collapse: separate; border-spacing: 2px; }
th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
th, td { border-radius: 0.25em; border-style: solid; }
th { background: #EEE; border-color: #BBB; }
td { border-color: #DDD; }
/* page */
html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding: 0.5in; }
/* html { background: #999; cursor: default; } */
/* body */
/* body{ box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); } */
/* body { box-sizing: border-box; height: 11in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 8.5in; }
body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); } */
/* header */
header { margin: 0 0 0em; }
header:after { clear: both; content: ""; display: table; }
header h1 { background: #000; border-radius: 0.25em; color: #FFF; margin: 10px 5px; padding: 0.5em 0; }
header address { float: left; font-size: 75%; font-style: normal; line-height: 1.25; margin: 0 1em 1em 0; }
header address p { margin: 0 0 0.25em; }
header span, header img { display: block; float: right; }
header span { margin: 0 0 1em 1em; max-height: 25%; max-width: 60%; position: relative; }
header img { max-height: 100%; max-width: 100%; }
header input { cursor: pointer; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 100%; }
/* article */
article, article address, table.meta, table.inventory { margin: 0 0 3em; }
article:after { clear: both; content: ""; display: table; }
article h1 { clip: rect(0 0 0 0); position: absolute; }
article address { float: left; font-size: 125%; font-weight: bold; }
/* table meta & balance */
table.meta, table.balance { float: right; width: 36%; }
table.meta:after, table.balance:after { clear: both; content: ""; display: table; }
/* table meta */
table.meta th { width: 40%; }
table.meta td { width: 60%; }
/* table items */
table.inventory { clear: both; width: 100%; }
table.inventory th { font-weight: bold; text-align: center; }
table.inventory td:nth-child(1) { width: 26%; }
table.inventory td:nth-child(2) { width: 38%; }
table.inventory td:nth-child(3) { text-align: right; width: 12%; }
table.inventory td:nth-child(4) { text-align: right; width: 12%; }
table.inventory td:nth-child(5) { text-align: right; width: 12%; }
/* table balance */
table.balance th, table.balance td { width: 50%; }
table.balance td { text-align: right; }
/* aside */
aside h1 { border: none; border-width: 0 0 1px; margin: 0 0 1em; }
aside h1 { border-color: #999; border-bottom-style: solid; }
table .absorbing-column { width: 35%; }
/* javascript */
.add, .cut
{
	border-width: 1px;
	display: block;
	font-size: .8rem;
	padding: 0.25em 0.5em;	
	float: left;
	text-align: center;
	width: 0.6em;
}

.add, .cut
{
	background: #9AF;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	background-image: -moz-linear-gradient(#00ADEE 5%, #0078A5 100%);
	background-image: -webkit-linear-gradient(#00ADEE 5%, #0078A5 100%);
	border-radius: 0.5em;
	border-color: #0076A3;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 2px rgba(0,0,0,0.333);
}

.add { margin: -2.5em 0 0; }

.add:hover { background: #00ADEE; }

.cut { opacity: 0; position: absolute; top: 0; left: -1.5em; }
.cut { -webkit-transition: opacity 100ms ease-in; }

tr:hover .cut { opacity: 1; }

@media print {
	* { -webkit-print-color-adjust: exact; border: 0; padding: 0; }
	html { background: none; padding: 0;  }
	body { box-shadow: none; margin: 0; }
	span:empty { display: none; }
	.add, .cut { display: none; }
}

@page { margin: 0; }

/* .dotted { border-bottom: 2px dashed blue;} */
.dotted { 
	border-width: 1px; 
	padding: 10px; 
	position: relative; 
	text-align: left; 
	border-radius : 0.25em;
	border-style: solid;
	border-color: #BBB;
}
.dotted-two{ 
	border-width: 1px; 
	padding: 0px 2px; 
	position: relative; 
	text-align: left; 
	border-radius : 0.25em;
	border-bottom: solid;
	border-color: #BBB;
	font-size: 15px;
	/* font-weight: bold; */
}
.blocked { 
	border-width: 1px; 
	padding: 10px; 
	position: relative; 
	text-align: left; 
	/* border-radius : 0.25em; */
	border-style: solid;
	border-color: #BBB;
	background: #EEE; 
	border-color: #BBB;
}
/* .secretary_seal{
	background-image: url('/img/edit_1.png'); 
	background-repeat:no-repeat;
} */
.secretary_seal_1{
	background-image: url('/img/edit_1.png'); 
	background-repeat:no-repeat;
}
.mainDiv{
	/* margin : 10px 20px; */
	margin: 0px 30px;
	/* height: 480px; */
	/* width: 850px; */
	border: 1px solid blue; padding: 5px;
}
/* .matter{
	padding-bottom: 50px;
} */

	/* th, td { border-width: 1px; padding: 0.5em; position: relative; text-align: left; }
		th, td { border-radius: 0.25em; border-style: solid; }
		th { background: #EEE; border-color: #BBB; }
		td { border-color: #DDD; } */

		</style>
		
	</head>
	<body>
		<br>
		<!-- <div id="receipt_logo" style="padding-top : 0px; float: left; width: 20%; height: 90px;">
			<span><img alt="" src="/img/logo-small.png" style="height: 100%; width: 60%; padding: 0; margin-left : 43px;"></span>
		</div> -->
		<div id="receipt_address" style="margin-left : 12px; margin-bottom: 5px; height: 90px;">
			<p style="font-size: 30px; text-align: center;"><b>RAMAKRISHNA MISSION ASHRAMA</b></p>
			<p style="font-size: 20px; text-align: center;">(A Branch Centre of Ramakrishna Mission, Belur Math)</p>
			<p style="font-size: 18px; text-align: center;">P.O. Manasadwip (Sagar Island), Dt. South 24-Parganas 743373</p>
			<p style="font-size: 18px; text-align: center;">Email :- manasadwip@rkmm.org Mobile :- 9547666334 / 8637533404</p>
		</div>
		<!-- <h1 id="reportHeading"></h1> -->
		<h1 id="yearHeading" style="text-align: center; margin-top: 5px; font-size: 20px;font-weight: bold"></h1>
		<header>
			<h1 id="black_header">Report</h1>
		</header>
		<div id="office"  class="mainDiv">
			<table style="table-layout: auto; border-collapse: collapse; width: 100%;">
				<thead>
					<tr>
					  <th scope="col">RNo</th>
					  <th scope="col">Name</th>
					  <th scope="col" class="absorbing-column">Address</th>
					  <th scope="col">Amount(&#8377;)</th>
					  <th scope="col">Date</th>
					  <th scope="col">Purpose</th>
					  <th scope="col">Payment Details</th>
					  <th scope="col">PAN</th>
					</tr>
				  </thead>
				  <tbody id="report_tbody">
					<!-- <tr><td>2</td><td>08-10-2020</td><td>Rs : 123/-</td><td>ONLINE TRANSACTION ID : asdadad2131312</td><td>THAKUR UTSAV</td></tr>
					<tr><td>2</td><td>08-10-2020</td><td>Rs : 123/-</td><td>ONLINE TRANSACTION ID : asdadad2131312</td><td>THAKUR UTSAV</td></tr>
					<tr><td>2</td><td>08-10-2020</td><td>Rs : 123/-</td><td>ONLINE TRANSACTION ID : asdadad2131312</td><td>THAKUR UTSAV</td></tr>	
					<tr><td>2</td><td>08-10-2020</td><td>Rs : 123/-</td><td>ONLINE TRANSACTION ID : asdadad2131312</td><td>THAKUR UTSAV</td></tr>
					<tr><td>2</td><td>08-10-2020</td><td>Rs : 123/-</td><td>ONLINE TRANSACTION ID : asdadad2131312</td><td>THAKUR UTSAV</td></tr> -->

				</tbody>
			</table>
		</div>
		
	</body>
	<script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/js/morris/morris.js"></script>
    <!-- <script src="assets/js/custom-scripts.js"></script> -->
	
	<script>

		function GetURLParameter(sParam){
			var sPageURL = window.location.search.substring(1);
			var sURLVariables = sPageURL.split('&');
			for (var i = 0; i < sURLVariables.length; i++){
				var sParameterName = sURLVariables[i].split('=');
        		if (sParameterName[0] == sParam) return sParameterName[1];
			}
		}
		// function getParams(sParam){
		// 	var sPageURL = window.location.search.substring(1);
		// 	var sURLVariables = sPageURL.split('&');
		// 	for (var i = 0; i < sURLVariables.length; i++){
		// 	if (sParameterName[0] == sParam) return sParameterName[1];
		// }

		$(document).ready(function(){
			var tempdates1;
			var acy = GetURLParameter('acy');
			var acr = GetURLParameter('acr');
			document.title = 'Donation Comtribution : '+acr+' for '+acy;
			// $('#reportHeading').html('List of doners with donation >= '+amt);
			$('#black_header').html('List of doners with contributions in  '+acr);
			$('#yearHeading').html('Accounting Year :  '+acy);
			// $('headingFrom').html('List of doners with donation >= '+amt);
			$.ajax({
				url : '/genReport/getaccYearsValue',
				type : 'POST',
				headers : { "x-access-token" : localStorage.getItem('token') },
				data : { accy_Name : acy },
				success : function(response){
					var accy_sDate = response.accy_sDate;
					var accy_eDate = response.accy_eDate;
					console.log(accy_sDate);
					console.log(accy_eDate);
					$.ajax({
							url : '/genReport/currecyReport',
							type : 'POST',
							headers : { "x-access-token" : localStorage.getItem('token') },
							data : { acr : acr, accy_sDate : accy_sDate, accy_eDate : accy_eDate },
							success : function(response){
								//receipt_data
								if(response.success == 1 & response.failure == 0){
									var tbody;
									var myDate1;					
									$('#report_tbody').empty();
									if(response.count==0){
										tbody += "<tr><td colspan='8' style='text-align:center;'>NO DETAILS FOUND</td></tr>";
									}
									$.each(response.report_data, function (key, value){
										myDate1 =  moment(response.report_data[key].donation_date).format("DD-MM-YYYY");
										tbody += "<tr>";
										tbody += "<td>E000"+response.report_data[key].donation_id+"</td>";
										tbody += "<td>"+response.report_data[key].title+" "+response.report_data[key].fName+" "+response.report_data[key].lName+"</td>";
										tbody += "<td>"+response.report_data[key].address+", "+response.report_data[key].pincode+"</td>";
										tbody += "<td>"+response.report_data[key].donation_amount+"</td>";
										tbody += "<td>"+myDate1+"</td>";
										tbody += "<td>"+response.report_data[key].donation_purpose+"</td>";
										tbody += "<td>"+response.report_data[key].donation_payment_type+' '+response.report_data[key].donation_payment_details+" : "+response.report_data[key].donation_payment_details_value;
										tbody += "<td>"+response.report_data[key].pan_no+"</td>";
										// tbody += ""+response.report_data[key].donation_payment_details_value+"</td>";
										// tbody += "<td>"+response.report_data[key].donation_amount_in_words+"</td>";
										// tbody += "<td>"+response.report_data[key].donation_payment_type+"</td>";
										tbody += "</tr>";
									});
									$('#report_tbody').append(tbody);
									toastr.info(response.msg);
								}
							},
							error : function(){

							}
						});

				}
			});
		});

		
		
	</script>
</html>

