<%- include('../partials/header'); -%>
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                           Donations <small> - <span id ="todayDate"></span> [ <span id ="todayTime"></span> ]</small>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6"  id="devotee_search_panel" style="margin-left: 25%;">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Search Devotee
                            </div>
                            <div class="panel-body">  
                                <form class="form-horizontal" action="#" id="devoteeSearchForm">
                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="devotee_id_search">Devotee Id : </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="devotee_id_search" placeholder="Enter Devotee Id" name="devotee_id_search">
                                        </div>
                                    </div>

                                    <h3 style="margin: 15px 180px;">OR</h3>

                                    <div class="form-group">
                                        <label class="control-label col-sm-4" for="pan_no_search">PAN NO : </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="pan_no_search" placeholder="Enter PAN NO" name="pan_no_search">
                                        </div>
                                    </div>
                                        <button class="btn btn-primary" type="button" id="search_devotee_submit" style="margin-left:171px;">Search</button>
                                    
                                </form>
                                <button class="btn btn-primary" type="button" id="new_devotte_modal" style="margin-left:120px;">Register a new Devotee</button>
                           </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-sm-6" id="devotee_found_panel">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Search Devotees
                            </div>
                            <div class="panel-body">  
                                <div class="table-responsive" id="devotte_found_table">
                                    <table class="table table-bordered" style="font-size: 15px;">
                                        <tbody id="devotees_tbody">
                                            <tr>
                                                <th colspan="2">Devotee Details Found</th>
                                            </tr>
                                            <tr>
                                                <th>Devotee Id : </th>
                                                <td class="devotee_id">asdasdasdadasdadas</td>
                                            </tr>
                                            <tr>
                                                <th>Name : </th>
                                                <td class="devotee_name">asdasdasdadasdadas</td>
                                            </tr>
                                            <tr>
                                                <th>Email : </th>
                                                <td class="devotee_email">asdasdasdadasdadas</td>
                                            </tr>
                                            <tr>
                                                <th>Address : </th>
                                                <td class="devotee_address">asdasdasdadasdadas</td>
                                            </tr>
                                            <!-- <tr>
                                                <th>Country : </th>
                                                <td class="devotee_country">asdasdasdadasdadas</td>
                                            </tr> -->
                                            <tr>
                                                <th>Phone : </th>
                                                <td class="devotee_phone">asdasdasdadasdadas</td>
                                            </tr>
                                            <tr>
                                                <th>PAN No :</th>
                                                <td class="devotee_pan_no">asdasdasdadasdadas</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-primary" type="button" id="confirm_devotee" style="margin-left:130px;">Confirm Devotee</button>
                           </div>
                            
                        </div>
                    
                </div>


                <div class="col-md-12 col-sm-12" id="donation_panel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Register a Donation
                        </div>
                        <div class="panel-body">  
                            <h3 class="text-center">Devotee Details Found</h3><br>
                            <div class="table-responsive" id="devotte_found_table">
                                <table class="table table-striped table-bordered" style="font-size: 15px;">
                                    <thead>
                                        <th>Devotee Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Address</th>
                                        <!-- <th>Country</th> -->
                                        <th>phone</th>
                                        <th>PAN NO</th>
                                    </thead>
                                    <tbody id="devotees_tbody">
                                        <tr>
                                            <td class="devotee_id">asdasdasdadasdadas</td>
                                            <td class="devotee_name">asdasdasdadasdadas</td>
                                            <td class="devotee_email">asdasdasdadasdadas</td>
                                            <td class="devotee_address">asdasdasdadasdadas</td>
                                            <!-- <td class="devotee_country">asdasdasdadasdadas</td> -->
                                            <td class="devotee_phone">asdasdasdadasdadas</td>
                                            <td class="devotee_pan_no">asdasdasdadasdadas</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <form class="form-horizontal" action="#" id="newDonationForm">
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_purpose">Donation Purpose :</label>
                                    <div class="col-sm-8">
                                        <select name="donation_purpose" id="donation_purpose" class="form-control" >
                                            <option value="KALI PUJA">KALI PUJA</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="trans_date">Transaction Date : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="trans_date" placeholder="Enter Transaction Date" name="trans_date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_amount">Donation Amount:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="donation_amount" onkeyup="donation_amount_in_words.value=numberToWords(this.value)" placeholder="Enter Donation Amount" name="donation_amount" > 
                                        <!-- onkeyup="donation_amount_in_words.value=numberToWords(this.value)"> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_amount_in_words">Donation Amount In Words :</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="donation_amount_in_words" placeholder="Enter Donation Amount In Words" name="donation_amount_in_words">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_payment_type">Donation Payment Type :</label>
                                    <div class="col-sm-8">
                                        <select name="donation_payment_type" id="donation_payment_type" class="form-control" >
                                            <option value="CHEQUE">CHEQUE</option>
                                            <option value="DRAFT">DRAFT</option>
                                            <option value="ONLINE">ONLINE</option>
                                            <option value="CASH">CASH</option>
                                            <option value="MO">MONEY ORDER</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="dpt_form_grp">
                                    <label class="control-label col-sm-4" for="donation_payment_details_value" id="label_donation_payment_type">asdasdasdasd </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="donation_payment_details_value" placeholder="Enter Donation Payemt Details Value" name="donation_payment_details_value">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_currency">Donation Currency : </label>
                                    <div class="col-sm-8">
                                        <select name="donation_currency" id="donation_currency" class="form-control" >
                                            <option value="INR">Indian Contributions</option>
                                            <option value="FC">Foreign Contributions</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-sm-4" for="donation_currency">Donation Currency : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="donation_currency" placeholder="Enter Donation Currency" name="donation_currency" value="INR">
                                    </div>
                                </div> -->
                                <input type="hidden" class="form-control" id="received_by"name="received_by">
                                <input type="hidden" class="form-control" id="donation_payment_details"name="donation_payment_details">
                                <input type="hidden" class="form-control" id="new_donation_devotee_id"name="devotee_id">
                                <div class="form-group" style="margin-left: 35%;">
                                    <button type="button" class="btn btn-primary" id="regitserNewDonation">Confirm Donation</button>
                                    <a class="btn btn-default" href="/donation">Close</a>
                                </div>
                            </form>
                            
                       </div>
                        
                    </div>
                
            </div>



            <div class="col-md-12 col-sm-12 section-to-print" id="donation_panel_confirm">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Donation Details
                    </div>
                    <div class="panel-body" id="print_ack">  
                                <table class="table table-striped table-bordered" style="font-size: 15px;">
                                    <tbody id="devotees_tbody">
                                        <tr>
                                            <th>Devotee Id : </th>
                                            <td class="devotee_id">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Name : </th>
                                            <td class="devotee_name">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Email : </th>
                                            <td class="devotee_email">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Address : </th>
                                            <td class="devotee_address">asdasdasdadasdadas</td>
                                        </tr>
                                        <!-- <tr>
                                            <th>Country : </th>
                                            <td class="devotee_country">asdasdasdadasdadas</td>
                                        </tr> -->
                                        <tr>
                                            <th>Phone : </th>
                                            <td class="devotee_phone">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>PAN No :</th>
                                            <td class="devotee_pan_no">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Id :</th>
                                            <td class="devotee_donation_id">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Date :</th>
                                            <td class="devotee_donation_date">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Amount :</th>
                                            <td class="devotee_donation_amount">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Amount In Words :</th>
                                            <td class="devotee_donation_amount_in_words">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Payment Type :</th>
                                            <td class="devotee_donation_payment_type">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th class="devotee_donation_payment_details">asdasdadasd</th>
                                            <td class="devotee_donation_payment_details_value">asdasdasdadasdadas</td>
                                        </tr>
                                        <!-- "<tr><th>"+ response.receipt_data[0].donation_payment_details+"</th><td>"+ response.receipt_data[0].donation_payment_details_value+"</td></tr>"; -->
                                        <tr>
                                            <th>Transction Date :</th>
                                            <td class="devotee_donation_trans_date">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Purpose :</th>
                                            <td class="devotee_donation_purpose">asdasdasdadasdadas</td>
                                        </tr>
                                        <tr>
                                            <th>Donation Currency :</th>
                                            <td class="devotee_donation_currency">asdasdasdadasdadas</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btn-group" style="margin-left:25%; padding: 10px;" id="button-group-down">
                                    <button class="btn btn-primary" type="button" id="print_recipt" data-uid="" style="margin: 0 15px; border-radius: 5px;"><span class="glyphicon glyphicon-print"></span>  Print</button>
                                    <button class="btn btn-primary" type="button" id="save_recipt" style="margin: 0 10px; border-radius: 5px;"><span class="glyphicon glyphicon-pencil"></span>  Save as PDF</button>
                                    <a class="btn btn-default" href="/donation" style="margin: 0 10px; border-radius: 5px;"> Back </a>
                                    <input type="button" class="btn btn-default" id="close" value="Close" onclick="window.close()" />
                                </div>
                   </div>
                </div>
            
        </div>

                
               
                <!-- /. ROW  -->
				
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->

    <div id="newDevoteeModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body" id="newDevoteeModalBody">
                <span><strong>Devotee Details</strong></span>
                <button type="button" class="close" data-dismiss="modal">×</button> <br><br>
                <form class="form-horizontal" action="#" id="newDevoteeForm">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="title">Title:</label>
                        <div class="col-sm-8">
                            <select name="title" id="title" class="form-control" >
                                <option value=" ">---&nbsp;---</option>
                                <option value="Prabrajika">Prabrajika</option>
                                <option value="Bramhacharini">Bramhacharini</option>
                                <option value="Shrimat Swami">Shrimat Swami</option>
                                <option value="Swami">Swami</option>
                                <option value="Bramhachari">Bramhachari</option>
                                <option value="Shri">Shri</option>
                                <option value="Smt.">Smt.</option>
                                <option value="Mr.">Mr.</option>
                                <option value="Mrs.">Mrs.</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                                <option value="Prof(Dr.)">Prof(Dr.)</option>
                                <option value="Dr.">Dr.</option>
                                <option value="Prof.">Prof.</option>
                                <option value="Lt. Col.">Lt. Col.</option>
                                <option value="Justice">Justice</option>
                                <option value="Justice">Justice</option>
                                <option value="M/S">M/S</option>
                            </select>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="fName">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="fName" placeholder="Enter First name" name="fName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="lName">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="lName" placeholder="Enter Last name" name="lName">
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="email">Email:</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                      </div>
                    </div>
                    <!-- <div class="form-group">
                        <label class="control-label col-sm-4" for="sfno">Street/Flat No :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="sfno" placeholder="Enter Street/Flat No" name="sfno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="street">Steet :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="street" placeholder="Enter Street Name" name="street">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="city">City :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="city" placeholder="Enter City Name" name="city">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="district">District :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="district" placeholder="Enter District Name" name="district">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pincode">PIN :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pincode" placeholder="Enter PIC Code" name="pincode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="country">Country:</label>
                        <div class="col-sm-8">
                            <textarea name="country" id="country" style="resize: none;" class="form-control"></textarea>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="adddress">Address:</label>
                        <div class="col-sm-8">
                            <textarea name="address" id="address" style="resize: none;" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pincode">PIN :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pincode" placeholder="Enter PIC Code" name="pincode">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="phone">Contact:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="phone" placeholder="Enter Contact No" name="phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="pan_no">PAN:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="pan_no" placeholder="Enter PAN No" name="pan_no">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="remarks">Remarks :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="remarks" placeholder="Enter Any Details Except PAN e.x. AD(213 123 123 123), DRIV)L(ASDS...XX), RATION(xxxx..xx)" name="remarks" style="height: 5em;">
                        </div>
                    </div>
                    <div class="form-group" style="margin-left: 65px;">
                        <button type="button" class="btn btn-primary" id="regitserNewDevotee">Register Devotee</button>
                        <a class="btn btn-default" href="/donation">Close</a>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>

      
    
    <%- include('../partials/footer');%>
   <script>
//A heartly thanks to
//1.https://www.c-sharpcorner.com/blogs/convert-numeric-value-into-words-using-jquery - for code
//2.https://jsfiddle.net/lesson8/5tt7d3e6/ - for application
    // function numberToWords(number) {  
        //AMERICAN SYSTEM
        //     var digit = ['Zero', 'One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine'];  
        //     var elevenSeries = ['Ten', 'Eleven', 'Twelve', 'Thirteen', 'Fourteen', 'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen'];  
        //     var countingByTens = ['Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety'];  
        //     // var shortScale = ['', 'Thousand', 'Million', 'Billion', 'Trillion'];  
        //     var shortScale = ["", "", " Thousand ", " Lacs ", " Crores ", " Trillion ", "", "", "", ""];
  
        // number = number.toString(); 
        // number = number.replace(/[\, ]/g, ''); 
        // if (number != parseFloat(number)) return 'not a number'; 
        // var x = number.indexOf('.'); 
        // if (x == -1) x = number.length; 
        // if (x > 15) return 'too big'; 
        // var n = number.split(''); 
        // var str = ''; var sk = 0; 
        // for (var i = 0; i < x; i++) { 
        //     if ((x - i) % 3 == 2) { 
        //         if (n[i] == '1') { 
        //             str += elevenSeries[Number(n[i + 1])] + ' '; i++; sk = 1; 
        //         } else if (n[i] != 0) { 
        //             str += countingByTens[n[i] - 2] + ' '; sk = 1; 
        //         } 
        //     }else if (n[i] != 0) { 
        //         str += digit[n[i]] + ' '; 
        //         if ((x - i) % 3 == 0) str += 'Hundred '; sk = 1; 
        //     } if ((x - i) % 3 == 1) { 
        //         if (sk) str += shortScale[(x - i - 1) / 3] + ' '; sk = 0; 
        //         } 
        // } 
        // if (x != number.length) { 
        //     var y = number.length; str += 'and '; 
        //     for (var i = x + 1; i < y; i++) str += digit[n[i]] + ' '; 
        // } 
        // str = str.replace(/\number+/g, ' '); 
        // return str.trim() + " Only";  
    // } 

    //https://karvitt.com/misc/rs-in-words
    function numberToWords(x) {  
        //INDIAN SYSTEM
        var r=0, txter=x;
        var sizer=txter.length;
        var numStr="";
        if(isNaN(txter)){
            // alert(" Invalid number");
            return ("INVALID AMOUNT");
        }
        var n=parseInt(x);
        var places=0;
        var str="";
        var entry=0;
        while(n>=1){
            r=parseInt(n%10);
            if(places<3 && entry==0){
                numStr=txter.substring(txter.length-0,txter.length-3) // Checks for 1 to 999.
                str=onlyDigit(numStr); //Calls function for last 3 digits of the value.
                entry=1;
            }
            if(places==3){
                numStr=txter.substring(txter.length-5,txter.length-3) 
                if(numStr!=""){
                    str=onlyDigit(numStr)+ " Thousand "+str;
                }
            }
            if(places==5){
                numStr=txter.substring(txter.length-7,txter.length-5) //Substring for 5 place to 7 place of the string
                if(numStr!=""){
                    str=onlyDigit(numStr)+ " Lakhs "+str; //Appends the word lakhs to it
                }
            }
            if(places==6){
                numStr=txter.substring(txter.length-9,txter.length-7)  //Substring for 7 place to 8 place of the string
                if(numStr!=""){
                    str=onlyDigit(numStr)+ " Crores "+str;        //Appends the word Crores
                    // str=onlyDigit(numStr)+ " Crores ";
                }
            }
            n=parseInt(n/10);
            places++;
        }
        // alert(str);
        str += ' Only.'
        return str;
    } 
    function onlyDigit(n){
        //Arrays to store the string equivalent of the number to convert in words
        var units=['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine'];
        var randomer=['','Eleven','Twelve','Thirteen','Fourteen','Fifteen','Sixteen','Seventeen','Eighteen','Nineteen'];
        var tens=['','Ten','Twenty','Thirty','Forty','Fifty','Sixty','Seventy','Eighty','Ninety'];
        var r=0;
        var num=parseInt(n);
        var str="";
        var pl="";
        var tenser="";
        while(num>=1){
            r=parseInt(num%10);
            tenser=r+tenser;
            if(tenser<=19 && tenser>10){ //Logic for 10 to 19 numbers
                str=randomer[tenser-10];
            }else{
                if(pl==0) str=units[r];     //If units place then call units array.
                else if(pl==1) str=tens[r]+" "+str;   //If tens place then call tens array.
            }
            if(pl==2){       //If hundreds place then call units array.
                str=units[r]+" Hundred "+str;
            }
            if(pl==3){       //If thousands place then call units array.
                str=units[r]+" Thousand "+str;
            }
            if(pl==4){       //If lakhs place then call units array.
                str=units[r]+" Lakh "+str;
            }
            num=parseInt(num/10);
            pl++;
        }
        return str;
    }

    
    $(function() { 
        $("#trans_date").datepicker({
            dateFormat: 'yy-mm-dd', 
            changeMonth: true, 
            changeYear: true,
            maxDate:'+0d', 
            minDate :'-365d'
            //minDate: '-60d'
        }); 
    });

        $(document).ready(function() {
            $('#devotee_found_panel').hide();
            $('#donation_panel').hide();
            $('#dpt_form_grp').hide();
            $('#donation_panel_confirm').hide();
            
            
            $(document).on('click', '#new_devotte_modal', function(){
                $('#newDevoteeModal').modal('show');
                // var room_id = $(this).data('uid');
                // $('#room_id').val(room_id)
            });
            
            $(document).on('click','#regitserNewDevotee', function(e){
                //console.log(isValid)
                // if(isValid == true){
                    $.ajax({
                    type : 'POST',
                    url:'/devotees/insertDevoteeDetails',
                    headers: {"x-access-token": localStorage.getItem('token')},
                    data : $('#newDevoteeForm').serialize(),
                    success : function(response){
                        if(response.success == 1 && response.failure == 0){
                            toastr.info(response.msg);
                            // window.location.reload();
                        }
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            // }else{
            //     toastr.error('INVALID INPUTS.! PLEASE TRY AGAIN');
            // }
        });

        $(document).on('click','#search_devotee_submit', function(e){
                var devotee_id_search = $('#devotee_id_search').val();
                var pan_no_search = $('#pan_no_search').val();
                if( devotee_id_search != '' || pan_no_search != ''){
                    $("#devotee_search_panel").css("margin-left", "0");
                        $.ajax({
                        type : 'POST',
                        url:'/devotees/showDevoteeDetails',
                        headers: {"x-access-token": localStorage.getItem('token')},
                        data : $('#devoteeSearchForm').serialize(),
                        success : function(response){
                            if(response.success == 1 && response.failure == 0){
                                toastr.info(response.msg);
                                $('.devotee_id').html(response.devotee_details[0].devotee_id);
                                var name = response.devotee_details[0].title + ' ' + response.devotee_details[0].fName + ' ' + response.devotee_details[0].lName;
                                $('.devotee_name').html(name);
                                $('.devotee_email').html(response.devotee_details[0].email);
                                $('.devotee_address').html(response.devotee_details[0].address);
                                // $('.devotee_country').html(response.devotee_details[0].country);
                                $('.devotee_phone').html(response.devotee_details[0].phone);
                                $('.devotee_pan_no').html(response.devotee_details[0].pan_no);
                                $('#devotee_found_panel').show();
                                $('#new_donation_devotee_id').val(response.devotee_details[0].devotee_id);
                                $('#received_by').val(localStorage.getItem('loggedInName'));
                            }
                            if(response.success == 0 && response.failure == 1){
                                toastr.error(response.msg);
                            }
                        },
                        error: function(err){
                            console.log(err);
                        }
                });
            }else{
                toastr.error('INVALID INPUTS.! PLEASE TRY AGAIN');
            }
        });

        $(document).on('click','#confirm_devotee', function(e){
            $('#devotee_search_panel').hide();
            $('#devotee_found_panel').hide();
            $('#donation_panel').show();
            $('#donation_purpose').focus();
        });

        $('#donation_purpose').focus(function(e){
            $.ajax({
                type : 'POST',
                url:'/donation/getDonationPurpose',
                headers: {"x-access-token": localStorage.getItem('token')},
                success: function(data){
                    // Parse the returned json data
                    //var opts = $.parseJSON(data);
                    // Use jQuery's each to iterate over the opts value
                    //Get the value for another select option
                    // var dropDown = document.getElementById("carId");
                    // var carId = dropDown.options[dropDown.selectedIndex].value;
                    if(data.success == 1 && data.failure == 0){
                        var len = data.count;
                        $('#donation_purpose').empty();
                        // for( var i = 0; i<len; i++){
                        //     var id = data.donations_purposes[i]['donation_purpose_id'];
                        //     var name = data.donations_purposes[i]['donation_purpose_name'];
                        //     $("#donation_purpose").append("<option value='"+id+" - '>"+name+"</option>");
                        // }
                        $.each(data.donations_purposes, function(i, d) {
                            // You will need to alter the below to get the right values from your json object.  Guessing that d.id / d.modelName are columns in your carModels data
                            $('#donation_purpose').append('<option value="' + d.donation_purpose_name + '">' + d.donation_purpose_name + '</option>');
                        });
                    }
                }
            });
        });

        $('#donation_payment_type').blur(function(){
            var dpt = $(this).val();
            if(dpt == 'CHEQUE'){
                var a = 'CHEQUE NO';
                $('#label_donation_payment_type').html('CHEQUE NO : ');
                $('#donation_payment_details').val(a);
                $('#dpt_form_grp').show();
                $('#donation_payment_details_value').focus();
            }
            if(dpt == 'DRAFT'){
                var aa = 'DRAFT NO';
                $('#label_donation_payment_type').html('DRAFT NO : ');
                $('#donation_payment_details').val(aa);
                $('#dpt_form_grp').show();
                $('#donation_payment_details_value').focus();
            }
            if(dpt == 'ONLINE'){
                var b = 'TRANSACTION ID';
                $('#label_donation_payment_type').html('TRANSACTION ID : ');
                $('#donation_payment_details').val('TRANS ID');
                $('#dpt_form_grp').show();
                $('#donation_payment_details_value').focus();
            }
            if(dpt == 'CASH'){
                var c = $('#donation_amount').val();
                $('#label_donation_payment_type').html('CASH');
                $('#donation_payment_details').val('CASH');
                $('#donation_payment_details_value').val(c);
                $('#donation_payment_details_value').focus();
                //$('#donation_payment_details').addStyle(disabled);

            }
            if(dpt == 'MO'){
                var d = 'MO NO';
                $('#label_donation_payment_type').html('MO NO : ');
                $('#donation_payment_details').val(d);
                $('#dpt_form_grp').show();
                $('#donation_payment_details_value').focus();
            }
        });

        $(document).on('click','#regitserNewDonation', function(e){
            //var data = $('#myForm').serializeArray();
            //data.push({name: 'wordlist', value: wordlist});
            var dd = moment().format('YYYY-MM-DD');
            var td = $('#trans_date').val();
            var trans_date = moment(td).format('YYYY-MM-DD');
            var did = $('.devotee_id').html();
            $.ajax({
                type : 'POST',
                url : '/donation/insertDonationDetails',
                headers : { "x-access-token" : localStorage.getItem('token') },
                data : $('#newDonationForm').serialize()+ "&donation_date=" + dd,
                success : function(response){
                    if(response.success == 1 && response.failure == 0 ){
                        getDonationDetails(response.donation_id, did);
                        toastr.info(response.msg);
                        $('#donation_panel').hide();
                        $('#donation_panel_confirm').show();
                        // $('#display_receipt_no').html("Receipt : "+ response.donation_id);
                    }
                    if(response.success == 0 && response.failure == 1){
                        if(response.errorData == true){
                            $.each(response.errors, function(i, item) {
                            toastr.error(response.errors[i].msg);// alert(data[i].PageName);
                            });
                        }else{
                            toastr.error(response.msg);
                        }
                    }
                },
                error : function(respone){

                }
            });
        });
        $(document).on('click','#print_recipt', function(e){
            var receipt_id = $(this).data('uid');
            var d_id = $(this).data('did');
            var paramString = '?devotee_id='+d_id+'&donation_id='+receipt_id;
            var URL = window.location.hostname + ':' + window.location.port + '/dashboard/printDetails';
            window.open('http://'+URL+paramString, 'height=900, width=700');
            //window.open('http://localhost:3000/dashboard/printDetails'+paramString);
            
            //var encryptedString = $.md5(paramString);
            //window.open('http://localhost:3000/dashboard/printDetails'+encryptedString);
        });

        $(document).on('click','#save_recipt', function(e){
            var receipt_id = $(this).data('uid');
            $('#button-group-down').hide(); 
            // window.print();  print_ack
            //var divContents = document.getElementById("donation_panel_confirm").innerHTML; 
            var divContents = document.getElementById("print_ack").innerHTML;
            var a = window.open('', '', 'height=900, width=700'); 
            a.document.write('<html>'); 
            a.document.write('<head><link href="/css/bootstrap.min.css" rel="stylesheet" /> </head>'); 
            a.document.write("<img src='/img/top_logo.png'/>"); 
            // a.document.write("<img src='/img/top_logo.png'/>"); 
            a.document.write('<body><h1 class="text-center" id="display_receipt_no">Receipt - '+receipt_id+'</h1><br>');
                
            a.document.write(divContents); 
            // a.document.write("<img src='/img/top_logo.png'/>");
            a.document.write("<img src='/img/bot_tax.png'/>"); 
            a.document.write('</body></html>'); 
            $('#button-group-down').show();
            a.document.close(); 
            a.print();
        });
        
        
    });

    function getDonationDetails(donation_id, did){
        var tdate1;
        $.ajax({
                type : 'POST',
                url : '/donation/showDonationDetails',
                headers : { "x-access-token" : localStorage.getItem('token') },
                data : { donation_id : donation_id },
                success : function(response){
                    if(response.success == 1 && response.failure == 0 ){
                        $('#print_recipt').attr('data-uid',donation_id);
                        $('#print_recipt').attr('data-did',did);
                        $('#save_recipt').attr('data-uid',donation_id);
                        $('.devotee_donation_id').html('E000'+donation_id);
                        tdate1 = moment(response.donation_details[0].donation_date).format('DD-MM-YYYY');
                        $('.devotee_donation_date').html(tdate1);
                        $('.devotee_donation_amount').html('Rs. ' + response.donation_details[0].donation_amount);
                        $('.devotee_donation_amount_in_words').html(response.donation_details[0].donation_amount_in_words);
                        $('.devotee_donation_purpose').html(response.donation_details[0].donation_purpose);
                        $('.devotee_donation_payment_type').html(response.donation_details[0].donation_payment_type);
                        $('.devotee_donation_payment_details').html(response.donation_details[0].donation_payment_details + ': ');
                        $('.devotee_donation_payment_details_value').html(response.donation_details[0].donation_payment_details_value);
                        tdate2 = moment(response.donation_details[0].donation_date).format('DD-MM-YYYY');
                        $('.devotee_donation_trans_date').html(response.donation_details[0].trans_date);
                        $('.devotee_donation_currency').html(response.donation_details[0].donation_currency);
                    }
                },
                error : function(respone){

                }
            });
    }

   </script>